html {
  background-color: #352926;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 0;
  margin-top: 0;
  visibility: visible;
}
.visible {
  visibility: hidden;
  display: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar {
  padding: 30px 3px;
  left: -200px;
  top: 11%;
  text-align: center;
  width: 11em;
  border: 3px solid black;
  border-radius: 12.5em;
  position: absolute;
  transition: 0.4s;
  background-color: #9EB599;
  color: #141212;
}
.profileImage {
  border: 3px solid #FFFDD0; 
  border-radius: 50%;
  max-width: 300;
  
  
  width: 28%;
}
.menuBar {
  width: 50px;
  position: absolute;
  top: 3%;
  left: 60px;
  justify-self: left;
}
.change {
  transform: translate(220px, 0);
  visibility: visible;
}
li {
  
  width: 28%;
  display: inline-block;
}
.row {
  justify-content: space-evenly;
  align-items: flex-start;

}
button {
  background-color: #858566;
  border: none;
  border-radius: 12px;
  padding: 10px 10px;
  margin: 5px 1px;
  box-shadow: 0 5px #999;
}
button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}



input,
button {
 
  box-sizing: border-box;
}

input[type='submit'],
button {
  cursor: pointer;
  background-color: blanchedalmond;
}

.Tweet {
  margin: 0 auto;
  max-width: 600px;
  width: 95%;
}

.Tweet h1:before {
  content: '💭';
  margin-right: 0.5em;
}

.AddThoughtForm {
  display: flex;
  flex-wrap: wrap;
}

.AddThoughtForm input {
  padding: 1.5rem;
  border: 1px solid #666;
  border-radius: 3px;
}

.AddThoughtForm input[type='text'] {
  flex-grow: 1;
  margin-right: 0.5rem;
  
}

.thoughts {
  list-style-type: none;
  padding: 0;
}

.Thought {
  padding: 1rem;
  margin: 1rem 1rem 1rem 1rem;
  width: auto;
  border-radius: 3px;
  background-color: #eee;
}

.Thought .remove-button {
  font-size: 80%;
  float: right;
  border: 0;
  border-radius: 3px;
  background: transparent;
  background-color: red;
}

.Thought .remove-button:hover {
  color: #fff;
  background-color: #000;
}
